.Name {
    background-color: white;
    border: 2px solid black;
    color: black;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 4pc;
    margin-bottom: 1pc;
    width: 15pc;
    height: 5pc
}
.Type {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}
.Normal{
    background-color: #A8A77A;
}
.Fire{
    background-color: #EE8130;
}
.Water{
    background-color: #6390F0;
}
.Electric{
    background-color: #F7D02C;
}
.Grass{
    background-color: #7AC74C;
    padding: 10px;
}
.Type .ice{
    background-color: #96D9D6;
}
.Type .fighting{
    background-color: #C22E28;
}
.Type .poison{
    background-color: #A33EA1;
}
.Type .ground{
    background-color: #E2BF65;
}
.Type .flying{
    background-color: #A98FF3;
}
.Type .psychic{
    background-color: #F95587;
}
.Type .bug{
    background-color: #A6B91A;
}
.Type .rock{
    background-color: #B6A136;
}
.Type .ghost{
    background-color: #735797;
}
.Type .dragon{
    background-color: #6F35FC;
}
.Type .dark{
    background-color: #705746;
}
.Type .steel{
    background-color: #B7B7CE;
}
.Type .fairy{
    background-color: #D685AD;
}

.AbilityList {

}